server {
  listen ${REVERSE_PROXY_HOST_PORT} default_server;
  listen ${API_HOST_PORT} default_server;

  server_name ${RAILS_ENV}-reverse-proxy;

  set $ENV ${RAILS_ENV};
  if ($ENV = 'docker-local') {
    set $ALLOW_IPS true;
  }

  if ($ALLOW_IPS = 'false') {
    return 403;
  }

  location / {
    proxy_pass http://${PROXY_HOST}:${API_CONTAINER_PORT}/;
    proxy_redirect off;
  }
}
